*.foreground:   #eceff1
*.background:   #263238
*.cursorColor:  #98d1ce

! Black + DarkGrey
*.color0:       #212121
*.color8:       #686868

! DarkRed + Red
*.color1:       #f44336
*.color9:       #ff7961

! DarkGreen + Green
*.color2:       #4caf50
*.color10:      #80e27e

! DarkYellow + Yellow
*.color3:       #ffeb3b
*.color11:      #ffff72

! DarkBlue + Blue
*.color4:       #2196f3
*.color12:      #6ec6ff

! DarkMagenta + Magenta
*.color5:       #e91e63
*.color13:      #ff6090

! DarkCyan + Cyan
*.color6:       #00bcd4
*.color14:      #62efff

! LightGrey + White
*.color7:       #C7C7C7
*.color15:      #FFFFFF

URxvt.intensityStyles:		false
URxvt.background:       	[90]#0a0f14
URxvt.depth:				32
URxvt.font: 				xft:FiraCode Nerd Font:regular:pixelsize=14:antialias=true:hinting=true
URxvt.scrollBar:			false
URxvt.cursorColor:			white
URxvt.perl-ext-common:		default,matcher,resize-font,selection-to-clipboard
URxvt.perl-lib:				$HOME/.config/Scripts
URxvt.url-launcher:			/usr/bin/xdg-open
URxvt.matcher.button:		1
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up
URxvt.colorUL:				#4682B4
