*.foreground:   #98d1ce
*.background:   #0a0f14
*.cursorColor:  #98d1ce

! Black + DarkGrey
*.color0:       #2c3e50
*.color8:       #34495e

! DarkRed + Red
*.color1:       #c0392b
*.color9:       #e74c3c

! DarkGreen + Green
*.color2:       #27ae60
*.color10:      #2ecc71

! DarkYellow + Yellow
*.color3:       #f39c12
*.color11:      #f1c40f

! DarkBlue + Blue
*.color4:       #2980b9
*.color12:      #3498db

! DarkMagenta + Magenta
*.color5:       #8e44ad
*.color13:      #9b59b6

! DarkCyan + Cyan
*.color6:       #16a085
*.color14:      #1abc9c

! LightGrey + White
*.color7:       #bdc3c7
*.color15:      #ecf0f1

URxvt.intensityStyles:		false
URxvt.background:       	[90]#0a0f14
URxvt.depth:				32
URxvt.font: 				xft:Hack:regular:pixelsize=16:antialias=true:hinting=true
URxvt.scrollBar:			false
URxvt.cursorColor:			white
URxvt.perl-ext-common:		default,matcher,resize-font,selection-to-clipboard
URxvt.perl-lib:				$HOME/.config/Scripts
URxvt.url-launcher:			/usr/bin/xdg-open
URxvt.matcher.button:		1
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up
URxvt.colorUL:				#4682B4
