* {
	font-family: 'JetBrainsMono Nerd Font';
	font-size: 16px;
}

window {
	margin: 0;
	border: 0;
	padding: 0;
	background-color: #282c34;
	border-radius: 4px;
}

#outer-box {
	margin: 16px;
	padding: 0;
	border: 0;
	background-color: #282c34;
}

#input {
	margin: 0;
	border-radius: 4px;
	border: none;
	background-color: #abb2bf;
	color: #263238;
}

#scroll {
	padding-top: 8px;
}

#inner-box {
	color: #abb2bf;
}

#entry:selected {
	background-color: #4c5363;
	border-radius: 4px;
}

#text {
	padding: 4px;
	color: #abb2bf;
}

#text:selected {}