@define-color bg #0f0f17;
@define-color fg #a6accd;
@define-color bg-light #181827;

@define-color black #181926;
@define-color red #f07178;
@define-color green #c3e88d;
@define-color yellow #ffcb6b;
@define-color blue #82aaff;
@define-color magenta #c792ea;
@define-color cyan #89ddff;
@define-color white #eeffff;

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 16px;
  min-width: 0;
  min-height: 0;
  transition: none;
}

window#waybar {
  background-color: transparent;
}

.modules-left {
  margin: 8px 8px 0;
  padding: 0px;
  background-color: @bg;
  border-radius: 8px;
}

.modules-center {
  margin: 8px 8px 0;
  padding: 0px;
  background-color: @bg;
  border-radius: 8px;
}

.modules-right {
  margin: 8px 8px 0;
  padding: 0px;
  background-color: @bg;
  border-radius: 8px;
}

#custom-launcher,
#workspaces,
#window,
#tray,
#custom-pacman,
#cpu,
#memory,
#pulseaudio,
#network,
#clock,
#custom-power {
  padding: 4px 24px;
  margin: 8px;
  background-color: @bg-light;
  color: @fg;
  min-width: 24px;
  min-height: 24px;
  border-radius: 8px;
}

#workspaces {
  border-radius: 8px;
  padding: 0px 8px;
  margin: 8px;
  border: 0px;
}

#workspaces button {
  color: @blue;
  border-radius: 8px;
  border: 0px;
  padding: 0px 11px 0px 11px;
  margin: 0px 2px;
  min-height: 32px;
}

#workspaces button:hover {
  color: @blue;
  border: 0px;
}

#workspaces button.active {
  color: @blue;
  border: 0px;
}

#custom-launcher {
  color: @magenta;
}

#window {
  color: @fg;
}

window#waybar.empty #window {
  background-color: transparent;
}

window#waybar.empty .modules-center {
  background-color: transparent;
}

#custom-pacman {
  color: @blue;
}

#cpu {
  color: @red;
}

#memory {
  color: @yellow;
}

#pulseaudio {
  color: @green;
}

#network {
  color: @magenta;
}

#clock {
  color: @blue;
}

#custom-power {
  color: @red;
}
