/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

* {
    border: none;
    border-radius: 0;
    font-family: "JetbrainsMono Nerd Font Mono";
    font-size: 14px;
    min-height: 0;
    transition: none;
}

window > box {
    padding: 4px;
}

window#waybar {
    background-color: #000a12;
}

window#waybar.hidden {
    opacity: 0.2;
}

#custom-menu {
    padding: 0 12px;
    border-radius: 16px;
    min-height: 32px;
    background-color: #161e21;
    color: #b0bec5;
    transition: none;
}

#workspaces {
    margin-left: 8px;
    min-height: 32px;
}

#workspaces button {
    padding: 0 8px;
    border-radius: 16px;
    min-height: 32px;
    margin: 0 4px;
    color: #b0bec5;
    background-color: #161e21;
}

#workspaces button.active {
    padding: 0 16px;
    color: #eceff1;
    background-color: #37474f;
}

#workspaces button:hover {
    color: #eceff1;
}

#window {
    padding: 0 16px;
    border-radius: 16px;
    color: #b0bec5;
    background-color: #161e21;
}

window#waybar.empty #window {
    background-color: transparent;
}

#cpu {
    margin-right: 8px;
    padding: 0 12px;
    color: #b0bec5;
    background-color: #161e21;
    border-radius: 16px;
}

#memory {
    margin-right: 8px;
    padding: 0 12px;
    color: #b0bec5;
    background-color: #161e21;
    border-radius: 16px;
}

#pulseaudio {
    margin-right: 8px;
    padding: 0 12px;
    color: #b0bec5;
    background-color: #161e21;
    border-radius: 16px;
}

#custom-pacman {
    margin-right: 8px;
    padding: 0 12px;
    color: #b0bec5;
    background-color: #161e21;
    border-radius: 16px;
}

#network {
    margin-right: 8px;
    padding: 0 12px;
    color: #b0bec5;
    background-color: #161e21;
    border-radius: 16px;
}

#clock {
    margin-right: 8px;
    padding: 0 12px;
    color: #b0bec5;
    background-color: #161e21;
    border-radius: 16px;
}

#custom-power {
    padding: 0 12px;
    color: #b0bec5;
    border-radius: 16px;
    background-color: #161e21;
}
