* {
    background:                     #000a1260;
    background-alt:                 #ffffff06;
    foreground:                     #eceff1ff;
    border:               			#00000000;
    border-alt:               		#546e7aff;
    selected:               		#ffffff20;
    urgent:                         #e53935FF;
    transparent:                    #00000000;
}
