/* Message Dialog */

@import "colors.rasi"

* {
    background-color:       @transparent;
    text-color:             @foreground;
	font:				 	"FiraCode Nerd Font 12";
}

window {
    background-color:       @background;
    width:      			800px;
    padding:    			24px;
    border:					4px;
    border-radius:          0px;
    border-color:           @border-alt;
    location:               center;
}

entry {
    expand: 				true;
    text-color:				@border-alt;
}
